#gitignore file
.venv*
.env
.vscode/
__pycache__

# folders
relevant-data/*
model-output/*

*.tmp.nlogo

data/
!data/weekly-weights.csv.enc
!data/policeuk-ons-code-join.csv
doc/annual*.png
doc/monthly*.png
doc/weekly*.png
doc/daily*.png
doc/inference*.png
local/
cache/
log/
`
NetLogo*/
NetLogo-*.tgz


